/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Header */
header {
  background-color: #78B3CE;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  font-size: 2rem;
}

/* Profile Section */
.profile {
  text-align: center;
  background-color: #5f625d;
  color: white;
  padding: 2rem 0;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile h2 {
  font-size: 1.8rem;
}

.profile p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

/* Content Section */
.content {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: white;
}

.story,
.info {
  width: 45%;
}

.story h3,
.info h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.story p {
  margin-bottom: 1rem;
}

.info ul {
  list-style: none;
}

.info li {
  margin-bottom: 0.5rem;
}

/* Social Section */
.social {
  text-align: center;
  padding: 2rem;
  background-color: #f4f4f4;
}

.social h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.social .icons a {
  margin: 0 0.5rem;
}

.social .icons img {
  width: 32px;
  height: 32px;
}

.social .icons a {
  margin: 0 0.5rem;
  font-size: 2rem;
  color: #333;
  text-decoration: none;
}

.social .icons a:hover {
  color: #3b5998; /* Warna hover, bisa disesuaikan */
}
